{
  "Resources": {
    "MyInternetGateway": {
      "Properties": {
        "Tags": [
          {
            "Key": "Name",
            "Value": "MyInternetGateway"
          }
        ]
      },
      "Type": "AWS::EC2::InternetGateway"
    },
    "MyPubSub1": {
      "Properties": {
        "AvailabilityZone": "ap-southeast-2a",
        "CidrBlock": "10.0.1.0/24",
        "VpcId": {
          "Ref": "MyVPC"
        }
      },
      "Type": "AWS::EC2::Subnet"
    },
    "MyPubSub2": {
      "Properties": {
        "AvailabilityZone": "ap-southeast-2b",
        "CidrBlock": "10.0.2.0/24",
        "VpcId": {
          "Ref": "MyVPC"
        }
      },
      "Type": "AWS::EC2::Subnet"
    },
    "MyPubSub3": {
      "Properties": {
        "AvailabilityZone": "ap-southeast-2c",
        "CidrBlock": "10.0.3.0/24",
        "VpcId": {
          "Ref": "MyVPC"
        }
      },
      "Type": "AWS::EC2::Subnet"
    },
    "MyVPC": {
      "Properties": {
        "CidrBlock": "10.0.0.0/16"
      },
      "Type": "AWS::EC2::VPC"
    },
    "MyVPCGatewayAttachment": {
      "Properties": {
        "InternetGatewayId": {
          "Ref": "MyInternetGateway"
        },
        "VpcId": {
          "Ref": "MyVPC"
        }
      },
      "Type": "AWS::EC2::VPCGatewayAttachment"
    },
    "elb": {
      "Properties": {
        "CrossZone": "true",
        "HealthCheck": {
          "HealthyThreshold": "2",
          "Interval": "10",
          "Target": "HTTP:80/index.html",
          "Timeout": "5",
          "UnhealthyThreshold": "5"
        },
        "Listeners": [
          {
            "InstancePort": "80",
            "InstanceProtocol": "HTTP",
            "LoadBalancerPort": "80",
            "Protocol": "HTTP"
          }
        ],
        "Scheme": "internet-facing",
        "SecurityGroups": [
          {
            "Ref": "elbSG"
          }
        ],
        "Subnets": [
          {
            "Ref": "MyPubSub1"
          },
          {
            "Ref": "MyPubSub2"
          },
          {
            "Ref": "MyPubSub3"
          }
        ],
        "Tags": [
          {
            "Key": "Name",
            "Value": "elb"
          }
        ]
      },
      "Type": "AWS::ElasticLoadBalancing::LoadBalancer"
    },
    "elbSG": {
      "Properties": {
        "GroupDescription": "Security group",
        "Tags": [
          {
            "Key": "Name",
            "Value": {
              "Fn::Join": [
                "",
                [
                  {
                    "Ref": "AWS::StackName"
                  },
                  "-",
                  "elbSG"
                ]
              ]
            }
          }
        ],
        "VpcId": {
          "Ref": "MyVPC"
        }
      },
      "Type": "AWS::EC2::SecurityGroup"
    }
  }
}
